<<<<<<< HEAD
.titulo-facturas {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #000; 
  
}

=======
>>>>>>> origin/area_doc
.titulo {
    text-align: left; 
font-family: Arial Black; 
font-weight: bold; 
font-size: 100px; 
color: #fff; 
text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
};
<<<<<<< HEAD


=======
>>>>>>> origin/area_doc
.ocultar-btn-incremento::-webkit-inner-spin-button,
.ocultar-btn-incremento::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.nav-item {
  user-select: none;
<<<<<<< HEAD
}
.borde {
  border: 1px solid #ddd; /* Color del borde */
  border-radius: 5px; /* Borde redondeado */
}
=======
}
>>>>>>> origin/area_doc
